@model IEnumerable<PersonalWebsite.ViewComponentModels.ArticleModel>

<section class="articles">
    <h2>آخرین مقالات منتشر شده</h2>
    <div class="article-list">
        @foreach (var item in Model)
        {
            <div class="article-item">
                <img src="images/@item.Image" alt="@item.Title">
                <div class="article-content">
                    <h3>@item.Title</h3>
                    <p>@item.Description</p>
                </div>
                <div class="read-more-wrapper">
                    <a href="#" class="">ادامه مطلب</a>
                </div>
            </div>

        }
    </div>
</section>